body {
    background-color: rgb(190, 211, 218);
    padding: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin-right: 16px;
}

table {
  margin-top: 24px;
}

button.btn {
  margin-left: 6px;
}